/* Modules Blog */
.top-blue-row-blog {
  background: url(../img/top-blue-row-bg.png) repeat-x;
  padding: 0 0 0px 0; }
  .top-blue-row-blog-title {
    color: #334e82;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 37pt;
    letter-spacing: 0.3px;
    display: inline-block;
    margin: 41px 0 39px -2px;
    width: 100%; }
    .top-blue-row-blog-title span {
      color: #fff; }
  .top-blue-row-blog figure {
    float: right;
    width: 100%; }
    .top-blue-row-blog figure img {
      width: 190%;
      float: right; }

.articles {
  margin: 104px 0 104px 0; }
  .articles .articles-post-priview {
    margin: 0px 0 46px 0; }
    .articles .articles-post-priview-title {
      font-weight: bold;
      color: #26538a;
      font-family: 'Titillium Web', sans-serif;
      font-size: 17pt;
      margin: 0 0 6px 0; }
    .articles .articles-post-priview .articles-img-text-wrapper {
      overflow: auto;
      clear: both; }
      .articles .articles-post-priview .articles-img-text-wrapper .articles-post-img {
        float: left;
        overflow: hidden;
        width: 213px;
        height: 170px;
        margin: 0 29px 0 0;
        position: relative;
        border-radius: 4px; }
        .articles .articles-post-priview .articles-img-text-wrapper .articles-post-img img {
          width: 213px;
          height: 170px; }
        .articles .articles-post-priview .articles-img-text-wrapper .articles-post-img h5 {
          position: absolute;
          border-radius: 4px;
          background-color: rgba(38, 83, 138, 0.7);
          width: 100%;
          display: inline-block;
          bottom: 1px;
          margin: 0;
          color: white; }
          .articles .articles-post-priview .articles-img-text-wrapper .articles-post-img h5 a {
            color: white;
            text-decoration: underline; }
      .articles .articles-post-priview .articles-img-text-wrapper .articles-post-priview-text {
        display: inline-block;
        width: 359px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #3b3b3b;
        line-height: 21px;
        height: 130px;
        overflow: hidden;
        margin: 0 0 13px 0; }
      .articles .articles-post-priview .articles-img-text-wrapper .articles-post-priview-read-post {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #5c9ded;
        text-transform: capitalize; }
  .articles .pagination-custom {
    margin: -2px 0; }
    .articles .pagination-custom li a {
      border: none; }
  .articles .article-search {
    margin: 0 0 45px 0; }
    .articles .article-search-title {
      text-transform: capitalize;
      font-family: 'Titillium Web', sans-serif;
      font-size: 17pt;
      font-weight: bold;
      color: #393939; }
      .articles .article-search-title span {
        color: #26538a; }
    .articles .article-search .input-group-addon {
      background-color: #5c9ded;
      color: #ffffff; }
    .articles .article-search input {
      height: 40px; }
  .articles .article-top-posts {
    margin: 0 0 20px 0; }
    .articles .article-top-posts-title {
      text-transform: capitalize;
      font-family: 'Titillium Web', sans-serif;
      font-size: 17pt;
      font-weight: bold;
      color: #393939;
      margin: 0; }
      .articles .article-top-posts-title span {
        color: #26538a; }
    .articles .article-top-posts .article-top-post {
      padding: 6px 51px 23px 0px; }
      .articles .article-top-posts .article-top-post-title {
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bold;
        color: #3b3b3b;
        margin: 0; }
        .articles .article-top-posts .article-top-post-title a {
          color: #3b3b3b; }
      .articles .article-top-posts .article-top-post-tags {
        font-family: "Open Sans";
        font-size: 12px;
        color: #696969;
        margin: 2px 0 0 0; }
        .articles .article-top-posts .article-top-post-tags a {
          text-decoration: underline; }
  .articles .article-categories-list-title {
    text-transform: capitalize;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17pt;
    font-weight: bold;
    color: #393939; }
    .articles .article-categories-list-title span {
      color: #26538a; }
  .articles .article-categories ul {
    margin: 0 0 0 13px; }
    .articles .article-categories ul li a {
      text-transform: capitalize;
      text-decoration: underline !important;
      font-family: "Open Sans";
      font-size: 14px;
      color: #5c9ded; }
